<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/css/demo.css">
<head>
  <meta charset="UTF-8">
  <title>About Us</title>
</head>
<body>
<div class="header-br">
  <div class="header">
    <div class="logo">Maple Syrup Computing</div>
    <ul>
      <li><a th:href="@{/mainscreen}">Main Menu</a></li>
      <li><a th:href="@{/resources}">Resources</a></li>
      <li><a th:href="@{/about}">About Us</a></li>
      <li><a th:href="@{/contact}">Contact Us</a></li>
    </ul>
  </div>
</div>
<hr>
<div class="bottom-desc">
  <div class="bottom-left-box">
    <div class="bottom-title">About us at Maple Syrup Computing</div>
    <div class="bottom-info">
      <br></br>
      Are you looking for a custom built PC? You've come to the right place! Maple Syrup Computing is your 1 stop shop to buy PC parts and build yourself a PC!
      <br></br>

      What once started as a small business out of Seattle has now become a company that spans locations all across the US. We specialize in creating custom built computers,
      from low-end computers to mining rigs. All tailored to your needs. Our mission here is to provide cutting edge
      technology and exceptional service to our customers. Whether you're a gamer, a professional in need of powerful
      workstations, or someone looking for a reliable computer for everyday use, we've got you covered.
      At Maple Syrup Computing, we're passionate about technology and dedicated to ensuring that our customers get the
      best products and support.
      Get in touch with us to discuss your computer needs or visit our store to see our latest offerings!
      <br></br>
      We hope to see you soon!
    </div>
  </div>
</div>

<div>

</div>
<hr>
<div class="footer">copyright © Jerry Sandhu 2024</div>

</body>
</html>