<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/css/demo.css">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
</head>
<body>
<div class="header-br">
    <div class="header">
        <div class="logo">Maple Syrup Computing</div>
        <ul>
            <li><a th:href="@{/mainscreen}">Main Menu</a></li>
            <li><a th:href="@{/resources}">Resources</a></li>
            <li><a th:href="@{/about}">About Us</a></li>
            <li><a th:href="@{/contact}">Contact Us</a></li>
        </ul>
    </div>
</div>
<hr>
<div class="bottom-desc">
    <div class="bottom-left-box">
        <div class="bottom-title">Our Contact Information</div>
        <div class="bottom-info">
            <br></br>
            Need assistance? Business inquiries? Or just want to chat? Call or email us!
            <br></br>
            Phone Number: 123-123-1234
            <br></br>
            Email: maplesyrup@pcstore.com
        </div>
    </div>
</div>

<div>

</div>
<hr>
<div class="footer">copyright © Jerry Sandhu 2024</div>
</body>
</html>