<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/css/demo.css">
<head>
    <meta charset="UTF-8">
    <title>Part Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="header-br">
    <div class="header">
        <div class="logo">Maple Syrup Computing</div>
        <ul>
            <li><a th:href="@{/mainscreen}">Main Menu</a></li>
            <li><a th:href="@{/resources}">Resources</a></li>
            <li><a th:href="@{/about}">About Us</a></li>
            <li><a th:href="@{/contact}">Contact Us</a></li>
        </ul>
    </div>
</div>
<div class="part">
    <div class="bottom-desc">
        <div class="bottom-left-box">
            <div class="bottom-info">
<h1>Inhouse Part Detail</h1>

<form action="#" th:action="@{/showFormAddInPart}" th:object="${inhousepart}" method="POST"}>
    <div class="error-message" th:if="${errorMessage}">
        <p th:text="${errorMessage}"></p>
    </div>



<!-- Add hidden form field to handle update -->
    <p><input type="hidden" th:field="*{id}"/></p>

<p><input type="text" th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4"/></p>

<p><input type="text" path="price" th:field="*{price}" placeholder= "Price" class="form-control mb-4 col-4"/></p>
<p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</p>

<p><input type="text" path="inv" th:field="*{inv}" placeholder="Inventory" class="form-control mb-4 col-4"/></p>
    <p th:if="${#fields.hasErrors('inv')}" th:errors="*{inv}">Inventory Error</p>

<p><input type="text" th:field="*{partId}" placeholder="Part ID" class="form-control mb-4 col-4"/></p>

<p><input type="text" path="maxInv" th:field="*{invHigh}" placeholder="Max Inventory" class="form-control mb-4 col-4"/></p>
    <p th:if="${#fields.hasErrors('invHigh')}" th:errors="*{invHigh}">Max Inventory Error</p>

<p><input type="text" path="invLow" th:field="*{invLow}" placeholder="Min Inventory" class="form-control mb-4 col-4"/></p>
    <p th:if="${#fields.hasErrors('invLow')}" th:errors="*{invLow}">Min Inventory Error</p>

<p><input type="submit" value="Submit" /></p>

</form>
<p><errors path="price" cssClass=""error/></p>
                <p><errors path="inv" cssClass=""error/></p>

                <a th:href="@{/mainscreen}">
                    <button>Main Menu</button></a>

</div>
        </div>
    </div>
    </div>

        <hr>
        <div class="footer">copyright © Jerry Sandhu 2024</div>
</body>
</html>