<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/css/demo.css">
<head>
    <meta charset="UTF-8">
    <title>Resources</title>
</head>
<body>
<div class="header-br">
    <div class="header">
        <div class="logo">Maple Syrup Computing</div>
        <ul>
            <li><a th:href="@{/mainscreen}">Main Menu</a></li>
            <li><a th:href="@{/resources}">Resources</a></li>
            <li><a th:href="@{/about}">About Us</a></li>
            <li><a th:href="@{/contact}">Contact Us</a></li>
        </ul>
    </div>
</div>
<hr>
<div class="bottom-desc">
    <div class="bottom-left-box">
        <div class="bottom-title">Computer Information</div>
        <div class="bottom-info">
            <br></br>
            Need help deciding on parts?
            <br></br>
            <b>RAM:</b>----Random access memory. It's the part of the computer that stores data that's currently being used. 8gb is recommended for weaker PC's, 64gb for powerful ones.
            <br></br>
            <b>CPU:</b>----Central processing unit. It's the part of the computer that does all of the processing work.
            <br></br>
            <b>Case:</b>----Computer Case. Holds all of your PC's parts.
            <br></br>
            <b>Hard Drive:</b>----Stores all of your important files for safe keeping.
            <br></br>
            <b>GPU:</b>----Graphics processing unit. Generates graphics for the computer, generally whatever you see on your monitor.
            <br></br>

        </div>
    </div>
</div>

<div>

</div>
<hr>
<div class="footer">copyright © Jerry Sandhu 2024</div>

</body>
</html>